<div class="row">

    <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">User one</a>
        </h4>
        <h5>Male</h5>
        <p class="card-text">user1@yahoo.com</p>
      </div>
      <div class="card-footer">
        <button type="button"  class="btn btn-primary">EDIT</button>
        <button type="button"  class="btn btn-primary">DELETE</button>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">User Two</a>
        </h4>
        <h5>Female</h5>
        <p class="card-text">user2@gmail.com</p>
      </div>
      <div class="card-footer">
        <button type="button"  class="btn btn-primary">EDIT</button>
        <button type="button"  class="btn btn-primary">DELETE</button>
      </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">User Four</a>
            </h4>
            <h5>Female</h5>
            <p class="card-text">user4@gmail.com</p>
          </div>
          <div class="card-footer">
            <button type="button"  class="btn btn-primary">EDIT</button>
            <button type="button"  class="btn btn-primary">DELETE</button>
          </div>
          </div>
        </div>
    </div>
  